<html>
	
<head>
	<meta charset="utf-8">
	<style>
		h1,p {
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			font-size: 40px;
		}
		h1 {
			font-size:70px;
		}
		#contact {
			font-size: 30px;
			font-style: italic;
		}
	</style>
</head>

<body bgcolor="{{background_color}}">
	<table width="100%" height="60%" border="0" cellspacing="0" cellpadding="0">
	  <tbody>
	    <tr>
	      <td align="center"><table width="80%" border="0" cellspacing="10" cellpadding="20">
  <tbody>
    <tr>
      <td width="512"><img src="{{logo}}" width="512" height="512"></td>
      <td><h1>Welcome to BiofilmQ.</h1><p>Get started by selecting an input directory containing your fluorescence microscopy image stacks of biofilms.</p>
          <p>The online documentation can be found at <font color="blue">https://drescherlab.org/data/biofilmQ/docs</font>.<br></br>
          For additional support, please post your question in the BiofilmQ forum, <font color="blue">https://forum.image.sc/tags/biofilmq</font><p id="contact">
	BiofilmQ was developed by Raimo Hartmann, Hannah Jeckel, Eric Jelli, and Knut Drescher.</p></td>
    </tr>
  </tbody>
</table></td>
        </tr>
      </tbody>
</table>
	

</body>
</html>
